html, body {
  background: #333;
  font: 15px/1.4 FreeSans, Helvetica, Arial, sans-serif;
}

.tone {
  background: #fff;
  width: 188px;
  position: relative;
  float: left;
  margin-right: 20px;
}

.tone h4 {
  font-size: 320%;
  font-weight: bold;
  background: #f80046;
  color: #fff;
  margin: 0;
  padding: 20px 10px 0;
  border-bottom: 1px solid #ccc;
}

.tone h5 {
  margin: 0;
  height: 30px;
}

.tone .waveform {
  position: absolute;
  top: 10px;
  right: 10px;
}

.tone .slider {
  float: left;
  height: 200px;
  margin-right: 8px;
}

.tone .volume, .tone .am, .tone .fm {
  float: left;
  border-right: 1px solid #ccc;
  padding: 10px 8px 20px;
}

.tone .footer {
  clear: left;
}
